<% include header %>
<section>

<table class="table" id="checks">
  <thead>
    <tr>
      <th style="width:30%">Name</th>
      <th style="width:55%">Status</th>
      <th style="width:25%" title="Average response time in the last 24h">Response Time</th>
    </tr>
  </thead>
  <tbody>
<% for (var check in checks) { check = checks[check]; %>
  <tr>

  <td data-sort="<%= check.name %>">
    <%= check.name %>
  </td>
  <% if (check.lastTested) { %>
    <% if (check.isPaused) { %>
  <td data-sort="<%= check.isUp ? check.uptime : -check.downtime %>"><span class="label label-info">paused</span> <span class="blue"> for <span title="<%= new Date(check.lastChanged) %>"><%= moment(check.lastChanged).fromNow(true) %></span></span></td>
    <% } else if (check.isUp) { %>
  <td data-sort="<%= check.uptime %>"><span class="label label-success">Up</span> <span class="green"> for <span title="<%= new Date(check.lastChanged) %>"><%= moment(check.lastChanged).fromNow(true) %></span></span></td>
    <% } else { %>
  <td data-sort="<%= -check.downtime %>"><span class="label label-important">Down</span> <span class="red"> for <span title="<%= new Date(check.lastChanged) %>"><%= moment(check.lastChanged).fromNow(true) %></span></span></td>
    <% } %>
  <% } else { %>
  <td data-sort="0"><span class="label label-important">down</span> <span class="label label-warning">new</span></td>
  <% } %>
  <% if (check.qos) { %>
  <td data-sort="<%= check.qos.responseTime %>"><%= Math.round(check.qos.responseTime) %>ms</td>
  <% } else { %>
  <td data-sort="0">-</td>
  <% } %>
  </tr>
<% } %></tbody>
</table>
</section>
<section>
<% for (var day in days) { var events = days[day]; %>
<h2><%- day %></h2>
<ul>
<% for (var event in events) { event = events[event]; %>
  <% include _event.ejs %>
<% } %>
</ul>
<% } %>
</section>
<% include footer %>