<% addedCss.push('jquery.tagsinput.css') %>
<div class="tab-pane" id="admin">
  <form id="check_form" method="post" class="form-horizontal" action="<%= route %>/checks<%= check.isNew ? '' : '/' + check._id %>">
    <input type="hidden" name="_method" value="<%= (check.isNew) ? 'post' : 'put' %>" />
    
    <div class="form-group">
      <div class="col-md-12">
        <label class="col-md-2 control-label">Url</label>
        <div class="col-md-6 input-group">
          <input type="text" required name="check[url]" value="<%= check.url || '' %>" class="form-control"  placeholder="http://www.example.com" />
          <span class="help-inline" style="padding-left:3px;position:absolute"><a href="<%= check.url %>" target="_blank"><img src="<%= route %>/images/external-link-ltr-icon.png"></a></span>
        </div>
        <label class="col-md-2 control-label">Type</label>
        <div class="col-md-2">
          <select name="check[type]" value="<% check.type || '' %>" class="form-control">
            <option value="">auto</option>
            <% pollerCollection.getTypes().forEach(function(poller) { %>
            <option value="<%= poller %>" <% if (poller === check.type) { %> selected="true" <% } %>><%= poller %></option>
            <% }) %>
          </select>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-12">
        <label class="col-md-2 control-label">Name</label>
        <div class="col-md-10">
          <input type="text" name="check[name]" value="<%= check.name || '' %>" class="form-control" placeholder="Type a name here" />
        </div>
      </div>
    </div>
    
    <div class="form-group">
      <div class="col-md-12">
        <label class="col-md-2 control-label">Polling Interval</label>
        <div class="col-md-6 input-group">
          <% if (check.lastTested) { %>
          <span class="btn btn-default input-group-addon" name="pause"><i class="glyphicon glyphicon-<%= check.isPaused ? 'play' : 'pause' %>"></i></span>
          <% } %>
          <input type="text" name="check[interval]" value="<%= (check.interval / 1000).toFixed() %>" class="form-control" />
          <span class="input-group-addon">s</span>
        </div>
        <label class="control-label col-md-2 ">Slow Threshold</label>
        <div class="col-md-2 input-group">
          <input type="text" class="form-control" name="check[maxTime]" value="<%= check.maxTime %>" />
          <span class="input-group-addon">ms</span>
        </div>
      </div>
    </div>
    
    <div class="form-group">
      <div class="col-md-12">
        <label class="col-md-2 control-label">Alert threshold</label>
        <div class="col-md-6 input-group">
          <input type="text" name="check[alertTreshold]" value="<%= check.alertTreshold %>" class="form-control" />
          <span class="input-group-addon">failed pings</span>
        </div>
      </div>
    </div>
    
    <span id="pollerDetails">
    <%- pollerDetails %>
    </span>
    
    <div class="form-group">
      <div class="col-md-12">
        <label class="col-md-2 control-label">Tags</label>
        <div class="col-md-6">
           <textarea name="check[tags]" class="form-control" rows="2"><%= check.tags.join(', ') %></textarea>
         </div>
       </div>
    </div>
    
    <div class="form-group">
      <div class="col-md-12">
        <% if (check.isNew) { %>
        <button type="submit" class="btn btn-primary col-md-offset-2">Save</button>
        <button type="submit" name="saveandadd" value="true" class="btn btn-primary">Save and add</button>
        <a class="btn btn-default" href="<%= route %>/checks">Cancel</a>
        <% } else { %>
        <button type="submit" class="btn btn-primary col-md-offset-2">Save changes</button>
        <a class="btn" href="<%= route %>/checks/<%= check._id %>">Cancel</a>
        <button type="submit" class="btn btn-danger pull-right" name="delete">Delete</button>
        <% } %>
      </div>
    </div>
  </form>
</div>
<script src="<%= route %>/javascripts/jquery.tagsinput.min.js"></script>
<script>
var intervalFieldSelector = 'form input[name="check\\[interval\\]"]';
function updatePollingIntervalTooltip() {
  var value = $(intervalFieldSelector).val();
  if (value > 60 ) {
    value = (value / 60).toFixed();
    unit = 'minute' + (value > 1 ? 's' : '');
    $(intervalFieldSelector + ' + span').html('s (' + value + ' ' + unit + ')');
  } else {
    $(intervalFieldSelector + ' + span').html('s');
  }
}
$(document).ready(function() {
  $('.uneditable-input').text(moment(parseInt($('.uneditable-input').html())).format('LLLL'));
  $('#check_form button[name="delete"]').click(function() {
    if (!confirm("This will delete the check and related pings and stats.\nAre you sure?")) return false;
    $('#check_form input[name="_method"]').val('delete');
  });
  updatePollingIntervalTooltip();

  $(intervalFieldSelector).bind('keypress keyup', updatePollingIntervalTooltip);

  $('#check_form input[name*="url"]').blur(function() {
    var field = $(this);
    if (field.val() && field.val().indexOf('://') == -1) {
      field.val('http://' + field.val());
    }
  });

  $('form select[name="check\\[type\\]"]').bind('change', function() {
    var pollerDetails = $('#pollerDetails');
    $.get('<%= route %>/pollerPartial/' + $(this).val())
      .fail(function() { pollerDetails.html(''); })
      .done(function(html) { pollerDetails.html(html); });
  });

  var tagField = $('#check_form textarea[name="check[tags]"]');
  var tags = tagField.val().split(', ');
  tagField.tagsInput();
  $('.tagsinput span.tag span').on('click', function() {
    window.location = '<%= route %>/tags/' + $(this).text();
  });
});
</script>
