<div class="tab-pane" id="details">
  <form id="check_form" method="post" class="form-horizontal">
    <input type="hidden" name="_method" value="<%= (check.isNew) ? 'post' : 'put' %>" />
    <fieldset>
      <div class="control-group">
        <label class="control-label">Name</label>
        <div class="controls">
          <input type="text" name="check[name]" value="<%= check.name || '' %>" class="span8"/>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label">Url</label>
        <div class="controls">
          <input type="text" name="check[url]" value="<%= check.url || '' %>" class="span8" />
          <span class="help-inline"><a href="<%= check.url %>"><img src="<%= route %>/images/external-link-ltr-icon.png"></a></span>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label">Polling interval</label>
        <div class="controls">
          <input type="text" name="check[interval]" value="<%= check.interval %>" class="span2" />
          <span class="help-inline">ms</span>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label">Slow treshold</label>
        <div class="controls">
          <input type="text" name="check[maxTime]" value="<%= check.maxTime %>" class="span2" />
          <span class="help-inline">ms</span>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label">Tags</label>
        <div class="controls">
          <input type="text" name="check[tags]" value="<%= check.tags.join(', ') %>" class="span2" />
          <span class="help-inline" id="check_tags"></span>
        </div>
      </div>
      <% if (check.lastTested) { %>
      <div class="control-group">
        <label class="control-label">Last edited on</label>
        <div class="controls">
          <span class="span4 uneditable-input"><%= check.lastTested.toLocaleString() %></span>
        </div>
      </div>
      <% } %>
      <div class="form-actions">
        <button type="submit" class="btn btn-primary">Save changes</button>
        <% if (!check.isNew) { %>
        <button type="submit" class="btn btn-danger" name="delete">Delete</button>
        <% } else { %>
        <a class="btn" href="<%= route %>/checks">Cancel</a>
        <% } %>
      </div>
    </fieldset>
  </form>
</div>
<script>
var intervalFieldSelector = 'form input[name="check\\[interval\\]"]';
function updatePollingIntervalTooltip() {
  var value = $(intervalFieldSelector).val() / 1000;
  if (value > 60 ) {
    value = (value / 60).toFixed();
    unit = 'minute' + (value > 1 ? 's' : '');
  } else {
    value = value.toFixed();
    unit = 'second' + (value > 1 ? 's' : '');
  }
  $(intervalFieldSelector + ' + span').html('ms (' + value + ' ' + unit + ')');
}
$(document).ready(function() {
  $('#check_form button[name="delete"]').click(function() {
    if (!confirm("This will delete the check and related pings and stats.\nAre you sure?")) return false;
    $('#check_form input[name="_method"]').val('delete');
  });
  updatePollingIntervalTooltip();
  $(intervalFieldSelector).bind('keypress keyup', updatePollingIntervalTooltip);
  var tag_links  = [];
  $.each([<%= check.tags.map(function(tag) { return "'" + tag + "'"}).join(', ') %>], function(key, tag) {
      tag_links.push('<a href="/dashboard/tag/' + tag + '">' + tag + '</a>');
  });
  $('#check_tags').html(tag_links.join(', '));
});
</script>
