<script src="<%= route %>/javascripts/bootstrap-tab.js"></script>
<script src="<%= route %>/javascripts/bootstrap-button.js"></script>
<script src="<%= route %>/javascripts/ejs.min.js"></script>
<script src="<%= route %>/javascripts/highcharts.js"></script>
<script src="<%= route %>/javascripts/pagination.js"></script>
<script>
var ejs = require('ejs');
ejs.open = '{{';
ejs.close = '}}';
var page = {};
</script>
<h1>
  Check "<%= check.name %>"
  <small><%= check.url %></small>
</h1>
<% if (info.length) { %>
<div class="alert alert-success"><%= info %></div>
<% } %>

<ul class="nav nav-tabs">
  <li><a href="#pings" data-toggle="tab">Pings</a></li>
  <li><a href="#stats" data-toggle="tab">History</a></li>
  <li><a href="#details" data-toggle="tab">Details</a></li>
</ul>
<div class="tab-content">
  <%- partial('_pings', { check: check, route: route }) %>
  <%- partial('_stats', { url: { 
    updateStat: '/api/check/' + check._id + '/stat/',
    chart:      '/api/check/' + check._id + '/'
  }} ) %>
  <%- partial('_check_details', { check: check }) %>
</div>
<script>
$(document).ready(function() {
  $('.navbar-inner li').eq(1).addClass('active');
<% if (info.length) { %>
  $('.nav-tabs a:last').tab('show');
<% } else { %>
  $('.nav-tabs a:first').tab('show');
<% } %>
});
</script>
