<script src="<%= route %>/javascripts/ejs.min.js"></script>
<style>
#dateNavigation .title td {
  text-align: center;
}
#dateNavigation td.month, #dateNavigation td.day, #dateNavigation td.hour, #dateNavigation td.quarter {
  border-left:solid 1px lightgrey;
  border-right: solid 1px lightgrey;
  text-align: center;
  cursor: pointer;
}
#dateNavigation td.month {
  width:75px;
}
#dateNavigation td.day {
  width:26px;
}
#dateNavigation td.hour {
  width:34px;
  text-align: left;
}
#dateNavigation td.quarter {
  width:200px;
}
#dateNavigation td.month:hover, #dateNavigation td.day:hover, #dateNavigation td.hour:hover, #dateNavigation td.quarter:hover {
  background-color:lightgrey;
}
</style>
<h1>
  Check "<%= check.name %>"
  <a href="<%= check.url %>" target="_blank"><img src="<%= route %>/images/external-link-ltr-icon.png"></a>
</h1>
<div class="tab-content">
  <table id="dateNavigation">
    <tbody>
      <tr class="title"></tr>
      <tr class="decomposition"></tr>
    </tbody>
  </table>
</div>
<script>
var DateNavigation = function(type, date) {
  this.type = type;
  this.date = date;
  this.redraw();
  this.init();
}
DateNavigation.prototype.redraw = function() {
  switch (this.type) {
    case 'year':
      this.displayYearlyNavigation();
      break;
    case 'month':
      this.displayMonthlyNavigation();
      break;
    case 'day':
      this.displayDailyNavigation();
      break;
    case 'hour':
      this.displayHourlyNavigation();
      break;
  }
}
DateNavigation.prototype.displayYearlyNavigation = function() {
  var momentForDate = moment(this.date);
  var title = '<td colspan="14">';
  title += momentForDate.year();
  title += '</td>';
  $('#dateNavigation tbody tr').eq(0).html(title);
  var begin = momentForDate.clone().startOf('year');
  var end   = momentForDate.clone().endOf('year');
  var months = '<td data-type="year" data-date="' + momentForDate.clone().subtract('years', 1) + '">&lt;</td>';
  var d = begin;
  while (d.valueOf() < end.valueOf()) {
    months += '<td data-type="month" data-date="' + d.valueOf() + '" class="month">' + d.format('MMMM') + '</td>';
    d.add('months', 1);
  }
  months += '<td data-type="year" data-date="' + momentForDate.clone().add('years', 1) + '">&gt;</td>';
  $('#dateNavigation tbody tr').eq(1).html(months);
}
DateNavigation.prototype.displayMonthlyNavigation = function() {
  var momentForDate = moment(this.date);
  var title = '<td data-type="year" data-date="' + this.date + '" colspan="' + (momentForDate.clone().endOf('month').date() + 2) + '">';
  title += momentForDate.format('MMMM YYYY');
  title += '</td>';
  $('#dateNavigation tbody tr').eq(0).html(title);
  var begin = momentForDate.clone().startOf('month');
  var end = momentForDate.clone().endOf('month');
  var days = '<td data-type="month" data-date="' + momentForDate.clone().subtract('months', 1) + '">&lt;</td>';
  var d = begin;
  while (d.valueOf() < end.valueOf()) {
    days += '<td data-type="day" data-date="' + d.valueOf() + '" class="day" title="' + d.format('dddd, LL') + '">' + d.date() + '</td>';
    d.add('days', 1);
  }
  days += '<td data-type="month" data-date="' + momentForDate.clone().add('months', 1) + '">&gt;</td>';
  $('#dateNavigation tbody tr').eq(1).html(days);
}
DateNavigation.prototype.displayDailyNavigation = function() {
  var momentForDate = moment(this.date);
  var title = '<td data-type="month" data-date="' + this.date + '" colspan="26">';
  title += momentForDate.format('dddd MMMM Do, YYYY');
  title += '</td>';
  $('#dateNavigation tbody tr').eq(0).html(title);
  var begin = momentForDate.clone().startOf('day');
  var end   = momentForDate.clone().endOf('day');
  var hours = '<td data-type="day" data-date="' + momentForDate.clone().subtract('days', 1) + '">&lt;</td>';
  var d = begin;
  while (d.valueOf() < end.valueOf()) {
    hours += '<td data-type="hour" data-date="' + d.valueOf() + '" class="hour" title="from ' + d.format('h:mma') + ' to ' + d.clone().add('hours', 1).format('h:mma') + '">' + d.format('ha') + '</td>';
    d.add('hours', 1);
  }
  hours += '<td data-type="day" data-date="' + momentForDate.clone().add('days', 1) + '">&gt;</td>';
  $('#dateNavigation tbody tr').eq(1).html(hours);
}
DateNavigation.prototype.displayHourlyNavigation = function() {
  var momentForDate = moment(this.date);
  var title = '<td data-type="day" data-date="' + this.date + '" colspan="6">';
  title += momentForDate.format('h:mma') + ' to ' + momentForDate.clone().add('hours', 1).format('h:mma');
  title += ', ' + momentForDate.format('dddd MMMM Do YYYY');
  title += '</td>';
  $('#dateNavigation tbody tr').eq(0).html(title);
  var begin = momentForDate.clone().startOf('hour');
  var end   = momentForDate.clone().endOf('hour');
  var quarters = '<td data-type="hour" date-date="' + momentForDate.clone().subtract('hours', 1) + '" title="from ' + begin.clone().subtract('hours', 1).format('h:mma') + ' to ' + end.clone().subtract('hours', 1).format('h:mma') + '">&lt;</td>';
  var d = begin;
  while (d.valueOf() < end.valueOf()) {
    quarters += '<td class="quarter">' + d.format('h:mma') + ' to ' + d.add('minutes', 15).format('h:mma') + '</td>';
  }
  quarters += '<td data-type="hour" data-date="' + momentForDate.clone().add('hours', 1) + '" title="from ' + begin.clone().add('hours', 1).format('h:mma') + ' to ' + end.clone().add('hours', 1).format('h:mma') + '">&gt;</td>';
  $('#dateNavigation tbody tr').eq(1).html(quarters);
}
DateNavigation.prototype.init = function() {
  var self = this;
  $(document).on('click', '#dateNavigation td', function(event) {
    self.type = $(this).data('type');
    self.date = parseInt($(this).data('date'));
    self.redraw();
  });
}
jQuery(document).ready(function($) {
  new DateNavigation('<%= req.query.type || 'month' %>', <%= req.query.date || Date.now() %>);
});
</script>