<script src="<%= route %>/javascripts/bootstrap-tab.js"></script>
<script src="<%= route %>/javascripts/ejs.min.js"></script>
<script src="<%= route %>/javascripts/checkState.js"></script>
<script src="<%= route %>/javascripts/dateNavigation.js"></script>
<script src="<%= route %>/javascripts/uptimeBar.js"></script>
<script>
var ejs = require('ejs');
ejs.open = '{{';
ejs.close = '}}';
</script>
<style>
#dateNavigation {
  margin-left: 100px;
}
#dateNavigation .title {
  text-align: center;
  width: 120px;
  position: relative;
  left: -100px;
  margin-bottom: -20px;
  z-index:3;
}
#dateNavigation .title .btn-link {
  padding: 0;
  border: none;
  vertical-align: inherit;
}
#dateNavigation .timeline {
  margin-left: 29px;
  height: 22px;
}
.btn-small.month, .btn-small.day, .btn-small.hour, .btn-small.quarter {
  padding-right: 0;
  padding-left: 0;
}
.btn.btn-small.month {
  width: 66px;
}
.btn.btn-small.day.nb31 {
  width: 26px;
}
.btn.btn-small.day.nb30 {
  width: 27px;
}
.btn.btn-small.day.nb29 {
  width: 28px;
}
.btn.btn-small.day.nb28 {
  width: 29px;
}
.btn.btn-small.hour {
  width: 33px;
}
.btn.btn-small.quarter {
  width: 196px;
}
ul.nav-tabs li span {
  font-weight: bold;
}
</style>
<div style="float: right;" id="check_24h"></div>
<h1>
  Check "<%= check.name %>"
  <a href="<%= check.url %>" target="_blank"><img src="<%= route %>/images/external-link-ltr-icon.png"></a>
</h1>
<div id="dateNavigation">
  <div class="title"></div>
  <div class="timeline"></div>
  <div class="periods"></div>
</div>
<div class="tabbable tabs-left">
  <ul class="nav nav-tabs">
    <li class="active"><a href="#responsiveness" data-toggle="tab">Resp. Time<br/><span class="avgRespTime"></span>ms</a></li>
    <li><a href="#availability" data-toggle="tab">Availability<br/><span class="availability"></span>%</a></li>
    <li><a href="#events" data-toggle="tab">Downtime<br/><span class="downtime"></span></a></li>
    <li><a href="#data" data-toggle="tab">Data</a></li>
    <li><a href="#admin" data-toggle="tab">Admin</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane" id="events">
    <%- partial('_events', { url: '/api/checks/' + check._id + '/events', route: route }) %>
    </div>
    <%- partial('_data', { url: '/api/checks/' + check._id + '/stats/', route: route } ) %>
  </div>
</div>
<script>
var dateInterval = new DateInterval('<%= req.query.type || 'month' %>', <%= req.query.date || Date.now() %>, <%= check.firstTested.valueOf() %>);
jQuery(document).ready(function($) {
  dateInterval.on('refresh-stat', function() {
    var timeline = $('#dateNavigation .timeline');
    var statPane = $('.nav-tabs');
    var begin = this.begin.valueOf();
    var end = this.end.valueOf();
    var stat = this.stat;
    if (stat && stat.availability) {
      timeline.html(uptimeBar(begin, end, stat.outages || []));
      statPane.find('.availability').text(stat.availability);
      statPane.find('.responsiveness').text(stat.responsiveness);
      statPane.find('.avgRespTime').text(stat.responseTime);
      statPane.find('.downtime').text(stat.downtime ? moment.duration(stat.downtime, 'seconds').humanize() : '-');
    } else {
      timeline.html(uptimeBar(begin, end, [[begin, end, -1]]));
    }
  });
  new DateNavigation(dateInterval, '/api/checks/<%= check._id %>/');
});
</script>
<script>
$(document).ready(function() {
  updateCheckState(<%- JSON.stringify(check) %>);
  socket.on('CheckEvent', function() {
    $.getJSON('/api/checks/<%= check._id %>', updateCheckState);
  });
});
</script>
