<script src="<%= route %>/javascripts/bootstrap-tab.js"></script>
<script src="<%= route %>/javascripts/ejs.min.js"></script>
<script src="<%= route %>/javascripts/uptimeBar.js"></script>
<style>
#dateNavigation {
  margin-left: 100px;
}
#dateNavigation .title {
  text-align: center;
  width: 120px;
  position: relative;
  left: -100px;
  margin-bottom: -20px;
  z-index:3;
}
#dateNavigation .title .btn-link {
  padding: 0;
  border: none;
  vertical-align: inherit;
}
#dateNavigation .timeline {
  margin-left: 29px;
  height: 22px;
}
.btn-small.month, .btn-small.day, .btn-small.hour, .btn-small.quarter {
  padding-right: 0;
  padding-left: 0;
}
.btn.btn-small.month {
  width: 66px;
}
.btn.btn-small.day.nb31 {
  width: 26px;
}
.btn.btn-small.day.nb30 {
  width: 27px;
}
.btn.btn-small.day.nb29 {
  width: 28px;
}
.btn.btn-small.day.nb28 {
  width: 29px;
}
.btn.btn-small.hour {
  width: 33px;
}
.btn.btn-small.quarter {
  width: 196px;
}
ul.nav-tabs li span {
  font-weight: bold;
}
</style>
<h1>
  Check "<%= check.name %>"
  <a href="<%= check.url %>" target="_blank"><img src="<%= route %>/images/external-link-ltr-icon.png"></a>
</h1>
<div id="dateNavigation">
  <div class="title"></div>
  <div class="timeline"></div>
  <div class="periods"></div>
</div>
<div class="tabbable tabs-left">
  <ul class="nav nav-tabs">
    <li class="active"><a href="#availability" data-toggle="tab">Availability<br/><span class="availability"></span>%</a></li>
    <li><a href="#responsiveness" data-toggle="tab">Resp. Time<br/><span class="avgRespTime"></span>ms</a></li>
    <li><a href="#events" data-toggle="tab">Downtime<br/><span class="downtime"></span></a></li>
    <li><a href="#breakdown" data-toggle="tab">Data</a></li>
    <li><a href="#admin" data-toggle="tab">Admin</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane" id="availability">

    </div>
    <div class="tab-pane" id="responsiveness">
    </div>
    <div class="tab-pane" id="events">
    </div>
  </div>
</div>
<ul class="nav nav-pills">
</ul>
<div class="tab-content">
  <div class="tab-pane" id="stats">
  <dl>
    <dt>Availability</dt><dd><span class="availability"></span>%</dd>
    <dt>Responsiveness</dt><dd><span class="responsiveness"></span>%</dd>
    <dt>Average Response Time</dt><dd><span class="avgRespTime"></span>ms</dd>
    <dt>Total Downtime</dt><dd><span class="downtime"></span></dd>
  </dl>
  </div>
  <div class="tab-pane" id="events">
  <%- partial('_events', { url: '/api/checks/' + check._id + '/events', route: route }) %>
  </div>
</div>

<script>
var DateNavigation = function(type, date, origin) {
  this.type = type;
  this.origin = origin;
  this.setDate(date);
  this.redraw();
  this.init();
}
DateNavigation.prototype.setDate = function(date) {
  this.date = Math.max(Math.min(date, Date.now()), this.origin);
  this.momentForDate = moment(this.date);
}
DateNavigation.prototype.redraw = function() {
  this.updateTitle()
  this.updatePeriods();
  $('#dateNavigation .timeline').width($('#dateNavigation .periods .btn-group').width() - 58);
  $('#dateNavigation .timeline').data({ type: this.type, date: this.date }).trigger('refresh');
}
DateNavigation.prototype.subType = {
  'year': 'month',
  'month': 'day',
  'day': 'hour',
  'hour': 'quarter'
}
DateNavigation.prototype.titleForPeriod = function(date, type) {
  switch (type) {
    case 'month': return date.format('MMMM');
    case 'day': return date.format('D');
    case 'hour': return date.format('ha');
    case 'quarter': 
      return date.format('h:mma') + " to " + date.clone().add('minutes', 15).subtract('seconds', 1).format('h:mma');
  }
}
DateNavigation.prototype.tooltipForPeriod = function(date, type) {
  switch (type) {
    case 'month': return date.format('MMMM YYYY');
    case 'day': return date.format('dddd, LL');
    case 'hour': 
      return "from " + date.format('h:mma') + " to " + date.clone().endOf('hour').format('h:mma');
    case 'quarter': return '';
  }
}
DateNavigation.prototype.updatePeriods = function() {
  var begin = this.momentForDate.clone().startOf(this.type);
  var end   = this.momentForDate.clone().endOf(this.type);
  var periods = '<div class="btn-group">';
  if (begin.valueOf() > this.origin) {
    periods += '<button class="btn btn-small" data-type="' + this.type + '" data-date="' + this.momentForDate.clone().subtract(this.type + 's', 1) + '">&lt;</button>';
  } else {
    periods += '<button class="btn btn-small" disabled="disabled">&lt;</button>';
  }
  var d = begin;
  var subtype = this.subType[this.type];
  while (d.valueOf() < end.valueOf()) {
    if (d.valueOf() < Date.now() && d.valueOf() > this.origin && subtype != 'quarter') {
      periods += '<button class="btn btn-small ' + subtype + ' nb' + end.date() + '" data-type="' + subtype + '" data-date="' + d.valueOf() + '" title="' + this.tooltipForPeriod(d, subtype) + '">' + this.titleForPeriod(d, subtype) + '</button>';
    } else {
      periods += '<button class="btn btn-small ' + subtype + ' nb' + end.date() + '" disabled="disabled">' + this.titleForPeriod(d, subtype) + '</button>';
    }
    if (subtype == 'quarter') {
      d.add('minutes', 15);
    } else {
      d.add(subtype + 's', 1);
    }
  }
  if (end.valueOf() < Date.now()) {
    periods += '<button class="btn btn-small" data-type="' + this.type + '" data-date="' + this.momentForDate.clone().add(this.type + 's', 1) + '">&gt;</button>';
  } else {
    periods += '<button class="btn btn-small" disabled="disabled">&gt;</button>';
  }
  periods += '</div>';
  $('#dateNavigation .periods').html(periods);
}
DateNavigation.prototype.updateTitle = function() {
  var title = '';
  switch (this.type) {
    case 'year':
      title += '<br/>' + this.momentForDate.year();
      break;
    case 'month':
      title += '<button class="btn btn-link" data-type="year" data-date="' + this.date + '">';
      title += this.momentForDate.year();
      title += '</button><br/>';
      title += this.momentForDate.format('MMMM');
      break;
    case 'day':
      title += '<button class="btn btn-link" data-type="month" data-date="' + this.date + '">';
      title += this.momentForDate.format('MMMM');
      title += '</button><br/>';
      title += this.momentForDate.format('dddd Do');
      break;
    case 'hour':
      title += '<button class="btn btn-link" data-type="day" data-date="' + this.date + '">';
      title += this.momentForDate.format('dddd Do');
      title += '</button><br/>';
      title += this.momentForDate.clone().startOf('hour').format('ha') + ' to ' + this.momentForDate.clone().endOf('hour').format('h:mma');
  }
  $('#dateNavigation .title').html(title);
}
DateNavigation.prototype.init = function() {
  var self = this;
  $(document).on('click', '#dateNavigation button', function(event) {
    self.type = $(this).data('type');
    self.setDate(parseInt($(this).data('date')));
    self.redraw();
  });
}
jQuery(document).ready(function($) {
  $('#dateNavigation .timeline').on('refresh', function(event) {
    var timeline = $(this);
    var data = timeline.data();
    var date = moment(data.date);
    var begin = date.clone().startOf(data.type);
    var end = date.clone().endOf(data.type);
    var statPane = $('.nav-tabs');
    $.getJSON('/api/checks/<%= check._id %>/stat/' + data.type + '/' + data.date, function(stat) {
      if (stat) {
        timeline.html(uptimeBar(begin, end, stat.outages || []));
        statPane.find('.availability').text(stat.availability);
        statPane.find('.responsiveness').text(stat.responsiveness);
        statPane.find('.avgRespTime').text(stat.responseTime);
        statPane.find('.downtime').text(stat.downtime ? moment.duration(stat.downtime, 'seconds').humanize() : '-');
      } else {
        timeline.html(uptimeBar(begin, end, [[begin, end, -1]]));
      }
      
    });
  });
  new DateNavigation('<%= req.query.type || 'month' %>', <%= req.query.date || Date.now() %>, <%= check.firstTested.valueOf() %>);
});
</script>