<script src="<%= route %>/javascripts/bootstrap-tabs.js"></script>
<script src="<%= route %>/javascripts/ejs.min.js"></script>
<script src="<%= route %>/javascripts/highcharts.js"></script>
<script>
var ejs = require('ejs');
ejs.open = '{{';
ejs.close = '}}';
</script>
<h1>
  Check "<%= check.name %>"
  <small><%= check.url %></small>
</h1>
<ul class="tabs">
  <li class="active"><a href="#pings">Pings</a></li>
  <li><a href="#history">History</a></li>
  <li><a href="#details">Details</a></li>
</ul>
<div class="pill-content">
  <%- partial('_pings', { object: check, as: 'check' }) %>
  <%- partial('_stats', { object: check, as: 'check' }) %>
  <%- partial('_check_details', { object: check, as: 'check' }) %>
</div>
<script>
$(document).ready(function() {
  $('#pings').addClass('active');
  $('.tabs').tabs();
});
</script>
