<h1>Checks <small id="last_update"></small></h1>
<% if (info.length) { %>
<div class="alert alert-success"><%= info %></div>
<% } %>
<table id="check_summary">
  <thead>
    <tr><th><span class="label label-success">Up</span></th><th><span class="label label-important">Down</label></th></tr>
  </thead>
  <tbody>
    <tr><td id="all_up" class="green"></td><td id="all_down" class="red"></td></tr>
  </tbody>
</table>
<div style="text-align:right">
  <a class="btn btn-primary" href="<%= route %>/check">Create check</a>
</div>
<table class="table" id="checks">
  <thead>
    <tr><th>Name</th><th>Up?</th><th>Up for</th><th>Uptime</th><th>Downtime</th><th>Avg. Response time</th></tr>
  </thead>
  <tbody></tbody>
  <tfoot>
    <tr><td colspan="3"></td><td>Average of all checks<br/>in the last 24h</td><td>Total of all checks<br />in the last 24h</td><td>Average of all checks<br/>in the last 24h</td></tr>
  </tfoot>
</table>
<script src="<%= route %>/javascripts/jquery.timeago.js"></script>
<script src="<%= route %>/javascripts/ejs.min.js"></script>
<script id="check_template" type="text/template">
<tr>
  <td>
    <a href="{{=  route + '/check/' + check._id }}">{{= check.name }}</a>
    <a href="{{= check.url }}"><img src="{{= route }}/images/external-link-ltr-icon.png"></a>
  </td>
  <td><span class="label {{= (check.isUp ? 'label-success' : 'label-important') }}">{{= (check.isUp ? 'yes' : 'no') }}</span></td>
  <td class="{{= check.isUp ? 'green' : 'red' }}">{{= check.isUp ? $.timeago.inWords(check.uptime) : 'Down for ' + $.timeago.inWords(check.downtime) }}</td>
  <td>{{= check.qos ? ((check.qos.ups / check.qos.count) * 100).toFixed(3) : '' }}%</td>
  <td>{{= check.qos ? (check.qos.downtime / 1000).toFixed() : '' }}s</td>
  <td>{{= check.qos ? Math.round(check.qos.time / check.qos.count) : '' }}ms</td>
</tr>
</script>
<script>
jQuery(document).ready(function($) {
  $('.navbar-inner li:first').addClass('active');
  $.timeago.settings.strings.suffixAgo = null;
  var check_template = document.getElementById('check_template').innerHTML;
  var ejs = require('ejs');
  ejs.open = '{{';
  ejs.close = '}}';
  var updateChecks = function() {
    $.getJSON('/api/check', function(checks) {
      var all_up = all_down = 0;
      var lines = [];
      $.each(checks, function(key, check) {
        if (check.isUp) all_up += 1; else all_down += 1;
        lines.push(ejs.render(check_template, { check: check, route: '<%= route %>' }));
      });
      $('#checks tbody').html(lines.join(''));
      $('#all_up').text(all_up);
      $('#all_down').text(all_down);
      $('#last_update').text('Last updated on ' + new Date().toLocaleString());
    });
  }
  updateChecks();
  window.setInterval(updateChecks, 5000);
});
</script>
