<script src="<%= route %>/javascripts/bootstrap-tab.js"></script>
<script src="<%= route %>/javascripts/bootstrap-button.js"></script>
<script src="<%= route %>/javascripts/ejs.min.js"></script>
<script src="<%= route %>/javascripts/highcharts.js"></script>
<script src="<%= route %>/javascripts/pagination.js"></script>
<script src="<%= route %>/javascripts/jquery.timeago.js"></script>
<script>
var ejs = require('ejs');
ejs.open = '{{';
ejs.close = '}}';
var page = {};
</script>
<div style="float: right;" id="check_24h"></div>
<h1>
  Check "<%= check.name %>"
  <a href="<%= check.url %>" target="_blank"><img src="<%= route %>/images/external-link-ltr-icon.png"></a>
</h1>
<% if (info.length) { %>
<div class="alert alert-success"><%= info %></div>
<% } %>
<ul class="nav nav-tabs">
  <li><a href="#stats" data-toggle="tab">History</a></li>
  <li><a href="#events" data-toggle="tab">Events</a></li>
  <li><a href="#pings" data-toggle="tab">Pings</a></li>
  <li><a href="#admin" data-toggle="tab">Admin</a></li>
</ul>
<div class="tab-content">
  <%- partial('_stats', { url: '/api/check/' + check._id + '/stats/' } ) %>
  <div class="tab-pane" id="events">
  <%- partial('_events', { url: '/api/check/' + check._id + '/events', route: route }) %>
  </div>
  <%- partial('_pings', { check: check, route: route }) %>
  <%- partial('_check_details', { check: check }) %>
</div>
<script>
$(document).ready(function() {
  $('.navbar-inner li').eq(1).addClass('active');
<% if (info.length) { %>
  $('.nav-tabs a:last').tab('show');
<% } else { %>
  $('.nav-tabs a:first').tab('show');
<% } %>
  $.timeago.settings.strings.suffixAgo = null;
  var updateLast24h = function() {
    $.getJSON('/api/check/<%= check._id %>', function(check) {
      var html = '';
      if (check.lastTested) {
        var status = {};
        if (check.isPaused) {
          status.label = 'info';
          status.color = 'blue';
          status.text = 'paused';
          status.date = check.lastTested;
        } else if (check.isUp) {
          status.label = 'success';
          status.color = 'green';
          status.text = 'up';
          status.date = check.lastChanged;
        } else {
          status.label = 'important';
          status.color = 'red';
          status.text = 'down';
          status.date = check.lastChanged;
        }
        html += '<span class="label label-' + status.label + '">' +  status.text +'</span>'
        html += '<span class="' + status.color + '"> for <span class="timeago" title="' + status.date + '"></span></span>';
      } else {
        html += '<span class="label label-important">down</span> <span class="label label-warning">new</span>';
      }
      $('#check_24h').html(html);
      $('#check_24h .timeago').timeago();
    });
  };
  socket.on('CheckEvent', updateLast24h);
  updateLast24h();
});
</script>
