<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <title>Dashboard</title>
    <link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css">
    <link rel="stylesheet" href="<%= route %>/stylesheets/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"></script>
    <script src="<%= route %>/javascripts/ejs_production.js"></script>
    <script src="<%= route %>/javascripts/view.js"></script>
  </head>
  <body>
    <div class="topbar">
      <div class="topbar-inner">
        <div class="container">
          <a class="brand" href="#">Dashboard</a>
          <ul class="nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="<%= route %>/checks">Checks</a></li>
            <li><a href="#ping">Pings</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container">
      <section>
        <%- body %>
      </section>
    </div>
  </body>
</html>