<script src="<%= route %>/javascripts/bootstrap-tab.js"></script>
<script src="<%= route %>/javascripts/bootstrap-button.js"></script>
<script src="<%= route %>/javascripts/ejs.min.js"></script>
<script src="<%= route %>/javascripts/highcharts.js"></script>
<script src="<%= route %>/javascripts/pagination.js"></script>
<script src="<%= route %>/javascripts/jquery.timeago.js"></script>
<script>
var ejs = require('ejs');
ejs.open = '{{';
ejs.close = '}}';
var page = {};
</script>
<h1>
  Tag "<%= tag.name %>"
</h1>
<ul class="nav nav-tabs">
  <li><a href="#stats" data-toggle="tab">History</a></li>
  <li><a href="#events" data-toggle="tab">Events</a></li>
  <li><a href="#tagchecks" data-toggle="tab">Checks</a></li>
  <li><a href="#tagreports" data-toggle="tab">Reports</a></li>
</ul>
<div class="tab-content">
  <%- partial('_stats', { url: '/api/tag/' + tag.name + '/stats/' } ) %>
  <div class="tab-pane" id="events">
  <%- partial('_events', { url: '/api/tag/' + tag.name + '/events', route: route }) %>
  </div>
  <div class="tab-pane" id="tagchecks">
  <%- partial('_checks', { url: '/api/check/tag/' + tag.name, route: route }) %>
  </div>
  <div class="tab-pane" id="tagreports">
  <%- partial('_tagReports', { url: '/api/tag/' + tag.name + '/months', tag: tag, route: route }) %>
  </div>
</div>
<script>
$(document).ready(function() {
  $('.navbar-inner li').eq(2).addClass('active');
  window.addEventListener("popstate", function(e) {
    var activeTab = $('[href=' + location.hash + ']');
    if (activeTab.length) {
      activeTab.tab('show');
    } else {
      $('.nav-tabs a:first').tab('show');
    }
  });
});
</script>
