<script src="<%= route %>/javascripts/bootstrap-tabs.js"></script>
<script src="<%= route %>/javascripts/ejs.min.js"></script>
<script src="<%= route %>/javascripts/highcharts.js"></script>
<script src="<%= route %>/javascripts/pagination.js"></script>
<script>
var ejs = require('ejs');
ejs.open = '{{';
ejs.close = '}}';
var page = {};
</script>
<h1>
  Tag "<%= tag.name %>"
</h1>
<ul class="tabs">
  <li class="active"><a href="#stats">History</a></li>
  <li><a href="#details">Details</a></li>
</ul>
<div class="pill-content">
  <%- partial('_stats', { url: { 
    updateStat:   '/api/tag/' + tag.name + '/stat/',
    uptime:       '/api/tag/' + tag.name + '/hourlyUptime',
    responseTime: '/api/tag/' + tag.name + '/hourlyResponseTime'
  }} ) %>
  <%- partial('_tag_details', { tag: tag }) %>
</div>
<script>
$(document).ready(function() {
  $('#stats').addClass('active');
  $('.tabs').tabs();
});
</script>
