<script src="<%= route %>/javascripts/bootstrap-tab.js"></script>
<script src="<%= route %>/javascripts/bootstrap-button.js"></script>
<script src="<%= route %>/javascripts/ejs.min.js"></script>
<script src="<%= route %>/javascripts/highcharts.js"></script>
<script src="<%= route %>/javascripts/pagination.js"></script>
<script>
var ejs = require('ejs');
ejs.open = '{{';
ejs.close = '}}';
var page = {};
</script>
<h1>
  Tag "<%= tag.name %>"
</h1>
<ul class="nav nav-tabs">
  <li class="active"><a href="#stats" data-toggle="tab">History</a></li>
  <li><a href="#details" data-toggle="tab">Details</a></li>
</ul>
<div class="tab-content">
  <%- partial('_stats', { url: { 
    updateStat: '/api/tag/' + tag.name + '/stat/',
    chart:      '/api/tag/' + tag.name + '/'
  }} ) %>
  <%- partial('_tag_details', { tag: tag }) %>
</div>
<script>
$(document).ready(function() {
  $('.navbar-inner li').eq(2).addClass('active');
  $('#stats').addClass('active');
});
</script>
