<h1>
  Monthly Report For Tag "<%= tag.name %>"
  <small><%= new Date(end).getMonth()+1 %>-<%= new Date(end).getFullYear() %></small>
</h1>
<h2>Overall Quality of Service</h2>
<table class="table chart">
  <thead>
    <tr>
      <th>Date</th>
      <th title="Percentage of all pings up in the month">Availability</th>
      <th title="Percentage of all pings below slow threshold in the month">Responsiveness</th>
      <th title="Total downtime in the month">Downtime</th>
      <th title="Average response time of all pings in the month">Avg. Response time</th>
    </tr>
  </thead>
  <tbody>
  <tr class="<%= (tagMonthlyStat.uptime < 100) ? 'red' : (tagMonthlyStat.responsiveness < 100) ? 'orange' : '' %>">
  <td title="<%= new Date(tagMonthlyStat.timestamp) %>"><%= moment(tagMonthlyStat.timestamp).format('MMMM YYYY') %></td>
  <td data-ups="<%= tagMonthlyStat.ups %>" data-count="<%= tagMonthlyStat.count %>"><%= (tagMonthlyStat.ups / tagMonthlyStat.count * 100).toFixed(3).replace('.000', '') %>%</td>
  <td><%= (tagMonthlyStat.responsives / tagMonthlyStat.count * 100).toFixed(3).replace('.000', '') %>%</td>
  <td><%= tagMonthlyStat.downtime / 1000 %>s</td>
  <td><%= Math.round(tagMonthlyStat.time / tagMonthlyStat.count) %>ms</td>
</tr>
  </tbody>
</table>

<h2 style="page-break-before:always">Detail by day</h2>
<table class="table chart">
  <thead>
    <tr>
      <th>Date</th>
      <th title="Percentage of all pings up in the day">Availability</th>
      <th title="Percentage of all pings below slow threshold in the day">Responsiveness</th>
      <th title="Total downtime in the day">Downtime</th>
      <th title="Average response time of all pings in the day">Avg. Response time</th>
    </tr>
  </thead>
  <tbody>
<% tagDailyStats.forEach(function(stat){ %>
  <tr class="<%= (stat.uptime < 100) ? 'red' : (stat.responsiveness < 100) ? 'orange' : '' %>">
  <td title="<%= new Date(stat.timestamp) %>" ><%= moment(stat.timestamp).format('LL') %></td>
  <td data-ups="<%= stat.ups %>" data-count="<%= stat.count %>"><%= (stat.ups / stat.count * 100).toFixed(3).replace('.000', '') %>%</td>
  <td><%= (stat.responsives / stat.count * 100).toFixed(3).replace('.000', '') %>%</td>
  <td><%= stat.downtime / 1000 %>s</td>
  <td><%= Math.round(stat.time / stat.count) %>ms</td>
</tr>
<% })%>
  </tbody>
</table>
<h2 style="page-break-before:always">Detail by Check</h2>
<table class="table chart">
  <thead>
    <tr>
      <th>Check</th>
      <th title="Percentage of all pings up in the month">Availability</th>
      <th title="Percentage of all pings below slow threshold in the month">Responsiveness</th>
      <th title="Total downtime in the month">Downtime</th>
      <th title="Average response time of all pings in the last 24h">Avg. Response time</th>
    </tr>
  </thead>
  <tbody>
<% checkStats.forEach(function(stat){ %>
  <tr class="<%= (stat.uptime < 100) ? 'red' : (stat.responsiveness < 100) ? 'orange' : '' %>">
  <td>
    <a href="<%= route + '/checks/' + stat.check._id %>"><%= stat.check.name %></a>
    <a href="<%= stat.check.url %>" target="_blank"><img src="<%= route %>/images/external-link-ltr-icon.png"></a>
  </td>
  <td data-ups="<%= stat.ups %>" data-count="<%= stat.count %>"><%= (stat.ups / stat.count * 100).toFixed(3).replace('.000', '') %>%</td>
  <td><%= (stat.responsives / stat.count * 100).toFixed(3).replace('.000', '') %>%</td>
  <td><%= stat.downtime / 1000 %>s</td>
  <td><%= Math.round(stat.time / stat.count) %>ms</td>
</tr>
<% })%>
  </tbody>
</table>
<script>
$(document).ready(function() {
  $('.navbar-inner li').eq(2).addClass('active');
});
</script>